@import "~bootstrap/dist/css/bootstrap.css";

:root {
    --bs-body-bg: #f7f7f7;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
}

.navbar {
    box-shadow: 0 5px 20px 0 #c5c5c5;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

.container {
    max-width: 580px;
    box-shadow: 0 0 10px rgba(147, 147, 147, 0.25);
}

.menu-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 5px 0;
    background-color: var(--bs-body-bg);
    box-shadow: 0 -5px 10px rgba(147, 147, 147, 0.25);
}

.menu-button-div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu-button-div-hover,
.menu-button-div:hover {
    background-color: #D9D9D9;
}

.autopart-card-btn {
    padding: 20px;
    height: 50px;
    text-align: center;
}

.autopart-card-like-btn {
    background: center / 32px url("/public/img/components/heart.svg") no-repeat;
}

.autopart-card-like-btn.liked {
    background: center / 32px url("/public/img/components/heart_full.svg") no-repeat;
}

.autopart-card-cart-btn {
    background: center / 32px url("/public/img/components/cart_add.svg") no-repeat;
}

.autopart-card-cart-btn.in-cart {
    background: center / 32px url("/public/img/components/cart_close.svg") no-repeat;
}

.autopart-card-buy-btn {
    background: right 10px center / 32px url("/public/img/components/cart.svg") no-repeat;
}

.animation-appear {
    animation: 0.6s ease-in-out appear;
}

.animation-disappear {
    animation: 0.8s ease-in-out disappear;
}

@-webkit-keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
