{% extends 'base.html.twig' %}

{% block title %}Главная - Магазин автозапчастей{% endblock %}

{% block body %}
    <div class="main">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img
                        class="d-inline-block align-text-top"
                        src="{{ asset('img/disc_brake_gold.png') }}"
                        alt="Logo"
                        width="30"
                        height="30"
                    >
                    Автозапчасти
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('homepage') }}">
                                Главная
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Ссылка
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Меню
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Введите ..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            Поиск
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">

        </div>
    </div>
{% endblock %}