{% extends 'base.html.twig' %}

{% block title %}Главная - Магазин автозапчастей{% endblock %}

{% block body %}
    <div class="main">
        {% include('components/header.html.twig') %}
        <div class="content main-container">
            <div class="autoparts-div">
                {% for autopart in autoparts %}
                    {% include('components/autopart.html.twig') %}
                {% endfor %}
            </div>
        </div>
        <div class="main-container sticky-bottom">
            {% include 'components/menu.html.twig' %}
        </div>
    </div>
{% endblock %}