{% extends 'base.html.twig' %}

{% block title %}Войти в Магазин автозапчастей{% endblock %}

{% block content %}
    <div class="container min-vh-100 py-3">
        <h1 class="mb-3">
            Вход
        </h1>
        <form class="d-grid gap-4" action="" method="POST">
            <div>
                <label for="email-input" class="form-label">
                    Email
                </label>
                <input
                    id="email-input"
                    class="form-control"
                    name="_username"
                    type="email"
                    placeholder="Введите ваш 'email@example.com'"
                    title="Введите ваш 'email@example.com'"
                    minlength="6"
                    maxlength="100"
                    autocomplete="email"
                    value="{{ email }}"
                    required
                >
            </div>
            <div>
                <label for="password-input" class="form-label">
                    Пароль
                </label>
                <input
                    id="password-input"
                    class="form-control"
                    name="_password"
                    type="password"
                    placeholder="Введите ваш пароль"
                    title="Введите ваш пароль"
                    minlength="8"
                    maxlength="50"
                    autocomplete="current-password"
                    required
                >
            </div>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}

            <button class="btn btn-primary">
                Войти
            </button>
            <a class="link-primary text-center" href="{{ path('register') }}">
                Зарегистрироваться
            </a>
        </form>
    </div>
{% endblock %}