{% extends 'base.html.twig' %}

{% block title %}Регистрация в Магазине автозапчастей{% endblock %}

{% block content %}
    <div class="container min-vh-100 py-3">
        <h1 class="mb-4">
            Профиль
        </h1>
        <div class="d-grid gap-2 mb-4">
            <p class="fw-bold">ID пользователя:</p>
            <p>{{ app.user.userId }}</p>
            <p class="fw-bold">Имя пользователя:</p>
            <p>{{ app.user.name }}</p>
            <p class="fw-bold">Email пользователя:</p>
            <p>{{ app.user.email }}</p>
        </div>
        <a class="link-primary" href="{{ path('logout') }}">
            Выйти из аккаунта
        </a>
    </div>
{% endblock %}