<div role="alert" aria-live="assertive" aria-atomic="true" class="toast fixed-bottom ms-auto" data-bs-autohide="true" data-bs-delay="5000">
    <div class="toast-header">
        <div class="toast-level"></div>
        <strong class="toast-title me-auto">
            Заголовок
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Это тестовое сообщение
    </div>
</div>